body {
	background-color: #DCDCDC;
	margin: auto;
	font-family: arial;
}

header {
	background-color: #778899;
	min-height: 20%;
	padding: 20px;
	margin-bottom: 20px;
}

h1 {
	color: white;
	font-size: 3em;
}

form, div {
	margin-left: 10px;
	padding-left: 20px;
}

select, button, th, td {
	font-size: 1.4em;
	padding: 10px;
	min-width: 200px;
	color: #778899;
}

button {
	font-size: 1.2em;
	padding-top: 8px;
	padding-bottom: 8px;
}

table {
	color: #778899;
	background-color: white;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	min-width: 594px;
}

th {
	color: #2F4F4F;
	text-align: left;
}

td {
	font-size: 0.8em;
}

#myChart {
	padding: 10px;
}
